@import "https://fonts.googleapis.com/css2?family=Quicksand&display=swap";

@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap";

@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

/* CSSTidy 1.5.2: Sat, 18 Sep 2021 23:54:49 +0000 */
@font-face {
font-family:"JetBrains Mono";
src:url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2) format("woff2"),url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff) format("woff");
font-weight:400;
font-style:normal;
font-display:swap
}

:root {
--logo-primary:#3900C3;
--logo-secondary:#98AFCD;
--background-main:#3465a5;
--background-alt:#f0f0f0;
--background-alt-hover:#c9c8c8;
--search-button-background:#4cad41;
--search-button-hover:#43993a;
--select-main:#000;
--text-main:#252525;
--text-alt:#fdfdfd;
--text-light:#616161;
--text-course-schedule:#fdfdfd;
--course-open:#39a32b;
--course-closed:#b93838;
--course-reopened:#bb7c33;
--roundedness:.4vmax;
--padding:.7vmax;
--padding-medium:7px;
--padding-small:5px;
--shadow-length:4px;
--shadow-blur:20px
}

[data-theme="dark"] {
--background-main:#333;
--background-alt:#1b1b1b;
--background-alt-hover:#0c0c0c;
--search-button-background:#57ac4f;
--search-button-hover:#3a9232;
--text-main:#dbdbdb;
--text-alt:#131313;
--text-light:#dbdbdb;
--select-main:#dfdede;
--course-open:#7ee271;
--course-closed:#e27878;
--course-reopened:#e0c06a
}

body {
background-color:var(--background-alt);
display:flex;
flex-direction:row
}

body * {
transition:all .15s ease-in-out
}

canvas {
max-width:100%;
max-height:100%
}

#share-image {
width:350px;
height:200px;
margin:0 auto
}

.swal2-title {
font-family:"JetBrains Mono",monospace
}

.swal2-textarea {
font-family:"Quicksand",sans-serif
}

.swal2-html-container {
font-family:"Quicksand",sans-serif
}

.swal2-validation-message {
font-family:"Quicksand",sans-serif
}

.swal2-actions * {
font-family:"Quicksand",sans-serif
}

#code-input {
display:block;
margin:50px auto;
margin-left:75px;
border:none;
width:10.5ch;
background:repeating-linear-gradient(90deg,dimgrey 0,dimgrey 1ch,transparent 0,transparent 1.5ch) 0 100%/10ch 2px no-repeat;
font:5ch "droid sans mono",consolas,monospace;
letter-spacing:.5ch;
text-transform:uppercase;
color:var(--text-main)
}

#code-input:focus {
outline:none;
color:#1e90ff
}

.logo {
width:32px;
height:32px
}

.noselect {
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none
}

#main-section {
display:flex;
flex-direction:column;
width:76%;
height:94vh;
margin-top:1%;
margin-left:1%
}

#right-section {
display:inline-block;
width:20%;
height:94vh;
margin-top:1%;
margin-left:1%
}

#title-bar {
background-color:var(--background-main);
border-radius:var(--roundedness);
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
padding:var(--padding)
}

#title-bar-name {
color:var(--text-alt);
font:larger "Montserrat",sans-serif
}

#title-bar-5c {
background-color:var(--logo-primary)
}

#schedule-box {
background-color:var(--background-main);
border-radius:var(--roundedness);
padding:var(--padding)
}

#schedule-table {
border-radius:var(--roundedness);
background-color:var(--background-alt);
display:grid;
grid-template-columns:5% repeat(5,1fr) 2%;
grid-template-rows:25px repeat(350,1fr);
grid-column-gap:10px;
height:85vh;
color:var(--text-main);
overflow:hidden
}

a:link {
color:#83c3eb
}

a:visited {
color:#83c3eb
}

.title-bar-button {
background-color:var(--background-alt);
border-radius:var(--roundedness);
padding-left:var(--padding-medium);
padding-right:var(--padding-medium);
text-align:center;
height:32px;
width:140px;
margin-left:1vw;
margin-right:1vw;
cursor:pointer;
color:var(--text-main);
font:1em/1.8em "JetBrains Mono",sans-serif
}

.title-bar-button:hover {
background-color:var(--background-alt-hover)
}

.title-bar-button:active {
transform:scale(0.95)
}

.search-button {
background-color:var(--search-button-background);
color:var(--text-alt);
width:20%
}

.search-button:hover {
background-color:var(--search-button-hover)
}

.time {
text-align:right;
color:var(--text-light);
transform:translate(0,-7px);
font:500 12px "JetBrains Mono",monospace
}

.day {
letter-spacing:1px;
text-align:center;
padding:4% 0;
font:900 18px 'Roboto',monospace
}

.line {
background-color:var(--text-light);
height:2px;
opacity:.5
}

.highlight {
background-color:var(--text-light);
border-bottom:1px solid var(--text-light);
border-top:1px solid var(--text-light);
border-left:1px solid var(--text-light);
border-right:1px solid var(--text-light);
opacity:.1
}

#course-info-box {
background-color:var(--background-main);
border-radius:var(--roundedness);
padding:var(--padding);
width:auto;
margin-bottom:1vh;
display:inline-block;
width:100%
}

#course-box {
background-color:var(--background-main);
border-radius:var(--roundedness);
padding:var(--padding);
width:auto;
margin-bottom:1vh;
display:inline-block;
width:100%
}

#course-table {
border-radius:var(--roundedness);
background-color:var(--background-alt);
display:inline-block;
width:100%;
max-height:50vh;
overflow:auto
}

#course-info-table {
border-radius:var(--roundedness);
background-color:var(--background-alt);
display:inline-block;
width:100%;
max-height:50vh;
overflow:auto
}

#course-list-box {
background-color:var(--background-main);
border-radius:var(--roundedness);
padding:var(--padding);
margin-top:1vh;
display:inline-block;
width:100%
}

#course-list-table {
border-radius:var(--roundedness);
background-color:var(--background-alt);
display:inline-block;
width:100%
}

.table-title {
color:var(--text-main);
padding:var(--padding);
background-color:var(--background-alt);
border-radius:var(--roundedness);
margin-bottom:1vh;
font:900 larger "Roboto",sans-serif
}

.course-table-row {
color:var(--text-main);
padding:var(--padding);
border-radius:var(--roundedness);
font:20px "Roboto",sans-serif
}

#course-search-results {
overflow-x:hidden;
overflow-y:auto;
height:50vh;
width:60vw;
margin-top:2vh
}

.course-search-result {
color:var(--text-alt);
border-radius:var(--roundedness);
padding:var(--padding);
margin:1vh;
cursor:pointer;
transition:outline .05s;
outline:0 solid var(--select-main);
outline-offset:-2px;
text-align:left;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
font:16px "Roboto",sans-serif
}

.course-search-result:hover {
filter:brightness(1.2)
}

.course-clicked {
outline:3px solid var(--select-main);
outline-offset:-2px
}

.unselectable {
-webkit-user-select:none;
-webkit-touch-callout:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none
}

.swal-wide {
width:80vw!important
}

#course-add-num {
font-family:"JetBrains Mono",monospace
}

#course-search-box {
display:flex;
flex-direction:row
}

#course-search-desc {
width:30vw;
padding:2vw;
text-align:left
}

.align-right {
text-align:right;
float:right
}

.course-desc .title {
color:var(--text-main);
margin-bottom:.5vh;
font:900 26px 'Roboto',sans-serif
}

.course-desc .subtitle {
color:var(--text-light);
margin-bottom:.5vh;
font:12px 'JetBrains Mono',monospace
}

.course-desc .course-status {
font-family:'JetBrains Mono',monospace;
color:var(--text-main);
margin-bottom:1vh
}

.Closed {
color:var(--course-closed)!important
}

.Open {
color:var(--course-open)!important
}

.Reopened {
color:var(--course-reopened)!important
}

#course-search-desc .timing {
color:var(--text-main);
font:14px 'Roboto',monospace
}

#course-search-desc .instructors {
color:var(--text-main);
font:14px 'Roboto',monospace
}

#course-search-desc .description {
margin-top:1vh;
color:var(--text-main);
font:14px 'Roboto',monospace
}

#course-input {
width:20vw
}

.status-highlight {
background-color:var(--background-alt);
border-radius:var(--roundedness);
padding:var(--padding-small)
}

.course-loaded {
display:block
}

.course-loaded {
font-size: 16px;
padding: var(--padding-medium);
}

.code-explain {
font:25px 'Roboto',sans-serif
}

.code-share {
color:var(--text-alt);
background-color:var(--text-main);
padding:var(--padding-small);
border-radius:var(--roundedness);
font:40px 'JetBrains Mono',monospace
}

.course-schedule-block {
color:var(--text-course-schedule);
padding:var(--padding-small);
border-radius:var(--roundedness);
z-index:1000;
overflow:hidden;
text-align:center;
display:flex;
flex-direction:column;
justify-content:center;
cursor:pointer
}

.from-course-list {
z-index:500
}

.course-schedule-block .name {
font:900 .7vw 'Roboto',sans-serif
}

.course-schedule-block .identifier {
font:.6vw 'JetBrains Mono',monospace
}

.course-schedule-block .room {
font:600 .7vw 'Roboto',sans-serif
}

.course-info {
float:inline-start;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
max-width:90%
}

.delete-course {
background-image:url(../img/delete.png);
background-size:cover;
width:1vmax;
height:1vmax;
float:inline-end
}

.delete-course:hover {
filter:brightness(1.6)
}

.merge-course {
background-image:url(../img/merge.png);
background-size:cover;
width:1vmax;
height:1vmax;
float:inline-end;
margin-right:.5vmax
}

.merge-course:hover {
filter:brightness(1.6)
}

#course-info-table {
height:20vh auto;
max-height:50vh;
box-sizing: border-box;      
padding:1vh;
}


#course-info-table .title {
font-size:18px
}

#course-info-table .timing {
color:var(--text-main);
font:12px 'Roboto'
}

#course-info-table .instructors {
color:var(--text-main);
font:12px 'Roboto'
}